// Color Sass variables

$color-primary-sft-cyan: hsl(174, 77%, 80%);
$color-primary-str-cyan: hsl(174, 86%, 45%);
$color-primary-lgt-gry-red: hsl(14, 92%, 95%);
$color-primary-lgt-red: hsl(15, 100%, 70%);
$color-primary-pl-blue: hsl(226, 100%, 87%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-vry-pl-blue: hsl(230, 100%, 99%);
$color-neutral-lgt-gry-blue-1: hsl(224, 65%, 95%);
$color-neutral-lgt-gry-blue-2: hsl(223, 50%, 87%);
$color-neutral-gry-blue: hsl(225, 20%, 60%);
$color-neutral-drk-des-blue: hsl(227, 35%, 25%);

// Breakpoint Sass variables

$breakpoint-mobile: 37.5em;
$breakpoint-desktop: 90em;
