.heading-2 {
  font-size: 2.2rem;
  color: $color-neutral-drk-des-blue;
}

.heading-3 {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-neutral-gry-blue;
}
